/* This code was borrowed from StackOverflow - in order to make body element the whole pge*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


.sidebar-button {
    /*width: 80%;*/
    /*margin-bottom: 10px;*/

    cursor: pointer;
    height: 50px;
    background-color: #a5b7ba;
    font-weight: bold;
    color: white;
    border-right-color: #959aa1;
    border-right-style: solid;
    text-align: center;
    line-height: 50px
    /*justify-content: center;*/

}

.sidebar-button:hover {
    background-color: #b6c8cb;

}

.user-name {
    font-size: 20px;
    color: #959aa1;
    font-weight: bold;
    text-align: center;
}