[Unit]
Description=Run the green-coat server
Documentation=https://example.com
After=network.target

[Service]
Environment=PORT=3001
Type=simple
User=root
ExecStart=/usr/bin/npm start --prefix /var/node/green-coat
Restart=on-failure
WorkingDirectory=/var/node/green-coat

[Install]
WantedBy=multi-user.target
